@page
@model Training.Pages.TrainingCourses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrainingCourseData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingCourseData.Title" class="control-label"></label>
                <input asp-for="TrainingCourseData.Title" class="form-control" />
                <span asp-validation-for="TrainingCourseData.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCourseData.AreaId" class="control-label"></label>
                <input asp-for="TrainingCourseData.AreaId" class="form-control" />
                <span asp-validation-for="TrainingCourseData.AreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCourseData.MaxPeopleInTraining" class="control-label"></label>
                <input asp-for="TrainingCourseData.MaxPeopleInTraining" class="form-control" />
                <span asp-validation-for="TrainingCourseData.MaxPeopleInTraining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCourseData.CourseTime" class="control-label"></label>
                <input asp-for="TrainingCourseData.CourseTime" class="form-control" />
                <span asp-validation-for="TrainingCourseData.CourseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCourseData.Id" class="control-label"></label>
                <input asp-for="TrainingCourseData.Id" class="form-control" />
                <span asp-validation-for="TrainingCourseData.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
